@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Google Sans Code", monospace;
    color: #ffffff;
}

body {
    font-weight: normal;
    font-size: 24px;
    background-color: #0f172b;
    overflow: hidden;
}

.background {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flow-root;

    position: fixed;
    top: 0;
    left: 0;

    filter: blur(20px);
    opacity: 0;
    transition: opacity 2s ease-in-out, filter 2.5s ease-in-out;
}

.background.loaded {
    filter: blur(0px);
    opacity: 1;
}

.background.preloaded {
    transition: opacity ease-in-out, filter 0.4s ease-in-out;
    filter: blur(0px);
    opacity: 1;
}

.grid {
    display: grid;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 1;

    background-color: #4e5b6384;
    backdrop-filter: blur(5px);
    
    grid-gap: 8px;

    grid-template-columns: 3fr 1fr 5fr 1fr 3fr;
    grid-template-rows: 
    auto 
    1fr
    auto;
    grid-template-areas: 
    ". . T . ."
    ". B B B ."
    "F F F F F";
}

.searchBar {
    grid-area: B;
    width: 100%;
    height: 100%;
    background-color: #0f172b88;
}

.footer {
    grid-area: F;
    width: 100%;
    height: 100px;
    background-color: #0f172b88;
}

.time-weather-container {
    grid-area: T;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.time {
    font-weight: 500;
    font-size: 6em;
}

.weather {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0px;
    text-align: center;
    align-items: center;
    font-size: 2em;
    justify-content: center;
    margin-top: -0.5em;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.weather.show {
    opacity: 1;
}

.temperature {
    margin-left: 0.25em;
    display: flex;
    flex-direction: row;
    gap: 0.25em;
}

.high-low {
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
}

.high-low-divider {
    border: 1px solid #ffffff;
    transform: scaleY(1.75);
}