@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Google Sans Code", monospace;
    color: #ffffff;
}

body {
    font-weight: normal;
    font-size: 24px;
    background-color: #0f172b;
    overflow: hidden;
}

.background {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flow-root;

    position: fixed;
    top: 0;
    left: 0;

    filter: blur(20px);
    opacity: 0;
    transition: opacity 2s ease-in-out, filter 2.5s ease-in-out;
}

.background.loaded {
    filter: blur(0px);
    opacity: 1;
}

.background.preloaded {
    transition: opacity ease-in-out, filter 0.4s ease-in-out;
    filter: blur(0px);
    opacity: 1;
}

.grid {
    display: grid;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 1;

    background-color: #4e5b635e;


    place-items: center;
}

.time {
    font-weight: 500;
    font-size: 6em;
}